attr==0.3.2
brotli==1.2.0
ConfigParser==7.2.0
cryptography==46.0.5
Cython==3.2.4
dl==0.1.0
docutils==0.22.4
HTMLParser==0.0.2
importlib_metadata==8.7.1
ipython==8.12.3
ipywidgets==8.1.8
Jinja2==3.1.6
keyring==25.7.0
lockfile==0.12.2
lxml==6.0.2
moviepy==2.2.1
numpy<2.3
ordereddict==1.1
pandas==2.2.3
Pillow==12.1.1
protobuf==7.34.0
pyOpenSSL==25.3.0
python-dotenv==1.2.1
railroad==0.5.0
Sphinx==9.1.0
streamlit==1.54.0
thread==2.0.6
toml==0.10.2
tornado==6.5.4
xmlrpclib==1.0.1
ytautomation==0.1.0
zipp==3.23.0
